body{
  background-color:rgb(8, 3, 62);
  margin:0;
  min-width:450px;
}

.maininfo{
  color:white;
  margin-left:-2px;
  font-family: 'Dosis', sans-serif;
  font-size:56px;
}

.submaininfo{
  color:white;
  font-family: 'Dosis', sans-serif;
  font-size:28px;
}

.textmaininfo{
  color:gray;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
  width:200px;
}

.info{
  font-family: 'Dosis', sans-serif;
  margin-left:50px;
  margin-top:150px;
}

.sectioninfo{
  font-family: 'Dosis', sans-serif;
  margin-left:50px;
}

.resume{
  color:white;
  margin-left:-2px;
  font-family: 'Dosis', sans-serif;
  font-size:38px;
}

a{
  color:white;
}

hr{
  margin-right:100%;
  width:120px;
}
