.maininfo{
  color:white;
  font-weight: 300;
  margin-left:-2px;
  font-size:56px;
}

.tabs{
  margin-left:-22px;
}

.submaininfo{
  color:white;
  font-family: 'Dosis', sans-serif;
  font-size:28px;
}

.textmaininfo{
  color:gray;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
  width:500px;
}

.info{
  font-family: 'Dosis', sans-serif;
  margin-left:50px;
  margin-top:150px;
}

.sectioninfo{
  font-family: 'Dosis', sans-serif;
  margin-left:50px;
}

.resume{
  color:white;
  margin-left:-2px;
  font-family: 'Dosis', sans-serif;
  font-size:38px;
}



hr{
  margin-right:100%;
  width:120px;
}
