@font-face {
  font-family:"Futura";
  src: url("../fonts/Futura.otf");
}

body{
  font-family:"Futura";
}


nav{
  margin-top:50px;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
  margin-left:2%;
  font-size:18px;
}

li a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.73);
}

li a:hover{
  color:rgb(32, 208, 166);
}


hr{
  width:100%;
  border:1px dashed black;
}

footer{
  width:100%;
  height:100px;
  position:absolute;
  z-index:4;
  background-color:rgb(32, 208, 166);
  top:550px;
}

.resume{
  height:550px;
  margin-left:40%;
  margin-right: 9%;
  font-size:35px;
  white-space: pre-line;
  color:rgba(101, 101, 101, 0.57);
}

.upsize{
  font-size:48px;
}

.specialspan{
  color:black;
}

.arrow{
  background-color:red;
}

.links{
  margin-top:20px;
  text-align:center;
}

.link{
  margin-left:40px;
}


.fp-controlArrow {
    position: absolute;
    /*width: 128px; /* This can be added here so you don't have to set a width and height 2 times for each arrow, this will create one width for both arrows */
    /*height: 128px; /* This does the same as above */
    margin-top:-64px; /* This value must always be half of the height - This does the same as above */
    z-index: 4;
    top: 50%;
}

.fp-controlArrow.fp-prev {
    left:10px;
    top:420px;
    border-color: transparent rgb(32, 208, 166) transparent transparent;
}
.fp-controlArrow.fp-next {
    left:1300px;
    top:420px;
    border-color: transparent transparent transparent rgb(32, 208, 166);
}
